<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Temporary Diversion Channel Calculations Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Number of Rolls</dt>
      <dd><%= @num_rolls %></dd>

      <dt>Bedding Legth</dt>
      <dd><%= @bed_length %> ft</dd>

      <dt>Bedding Width</dt>
      <dd><%= @bed_width %> ft</dd>

      <dt>Bedding Area</dt>
      <dd><%= @bed_area %> square ft</dd>

      <dt>Channel Volume</dt>
      <dd><%= @chan_vol %> cubic ft</dd>
    </dl>
  </div>
</div>